In [0]:
from IPython.display import clear_output
!pip3 install catboost
!pip3 install -U featuretools
import pandas as pd
import catboost
import numpy as np
from catboost import *
import featuretools as ft
from google.colab import drive
clear_output(wait=True)
drive.mount('/content/drive')
import os
os.chdir("drive/My Drive/AI")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
names = set(['1576274453.csv', '1576275268.csv',
                  '1577568346.csv', '1577567380.csv',
                  '1575916603.csv', '1576321165.csv',
                  '1576529413.csv', '1574709335.csv',
                  '1575917229.csv', '1575914448.csv',
                  '1577394354.csv', '1578339787.csv',
                  '1578338893.csv', '1578180117.csv'])

In [0]:
datasets = [pd.read_csv('submissions/archive/'+i) for i in names]

In [0]:
from random import shuffle
shuffle(datasets)

In [0]:
data = datasets[0]
for i in range(1, len(datasets)):
  data = data.merge(datasets[i], on='client_id')

In [0]:
data = data.set_index('client_id').transpose()

In [0]:
counts = data.apply(pd.value_counts)

In [0]:
counts.sample(4)

client_id  0      1      2      3      5      ...  49985  49991  49992  49994  49999
2.0         14.0    NaN    NaN    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
3.0          NaN    NaN   10.0    6.0    3.0  ...    NaN    NaN   14.0    2.0   14.0
1.0          NaN   14.0    NaN    NaN   11.0  ...   14.0    NaN    NaN   12.0    NaN
0.0          NaN    NaN    4.0    8.0    NaN  ...    NaN   14.0    NaN    NaN    NaN

[4 rows x 20000 columns]

In [0]:
submission = counts.sample(4).idxmax().to_frame().rename(columns={0: 'bins'})
submission

           bins
client_id
0           2.0
1           1.0
2           3.0
3           0.0
5           1.0
...         ...
49985       1.0
49991       0.0
49992       3.0
49994       1.0
49999       3.0

[20000 rows x 1 columns]

In [0]:
import time
import os

current_timestamp = int(time.time())
submission_path = 'submissions/kukarek_{}.csv'.format(current_timestamp)

if not os.path.exists('submissions'):
    os.makedirs('submissions')

print(submission_path)
submission.to_csv(submission_path, index=True)

submissions/kukarek_1578517080.csv